---
import GoogleAnalytics from '@components/GoogleAnalytics.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

import '@styles/global.css';

import { SEO } from "astro-seo";

interface Props {
	title: string;
	description?: string;
}

const defaultDescription = '若葉祭は、Taki Plaza Gardener (TPG) が主催する学内最大規模のサークル合同新歓イベントです！約40の団体が一同に会し、新歓活動を行います。TPGによる企画も多数ありますので、ぜひお越しください！';

const { title, description = defaultDescription } = Astro.props as Props;

const pageTitle = `${title} - 若葉祭2026`;

// Google FontsのNoto Sans JPを利用
import '@fontsource-variable/noto-sans-jp';
---
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={pageTitle}
			description={description}
			charset="UTF-8"
			openGraph={{
				basic: {
					title: pageTitle,
					type: "website",
					image: "/opengraph.png",
				},
			}}
			twitter={{
				card: 'summary_large_image',
				site: '@tpgardener',
				title: pageTitle,
				description: description,
				image: "https://wakabasai.tpgd.jp/opengraph.png",
			}}
			extend={{
				link: [{ rel: "icon", href: "/favicon.ico" }],

				meta: [
				{
					name: "twitter:image",
					content: "https://wakabasai.tpgd.jp/opengraph.png",
				},
				{ name: "viewport", content: "width=device-width" },
				{ name: "twitter:card", content: "summary_large_image" },
				],
			}}
		/>

		<!-- SakuraのWebフォント利用 -->
		<script type="text/javascript" src="//webfonts.sakura.ne.jp/js/sakurav3.js"></script>
		<GoogleAnalytics />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100vw;
		overflow-x: hidden;
		position: relative;
	}

	body {
	}

	a {
		color: inherit;
	}
</style>